footer {
    /* background-color: #28282B; */
    background-color: black;
    height: 440px;
    font-family: 'Montserrat';
    z-index: -1;
}

footer h2 {
    font-size: 30px;
}

footer a {
    color: #f5f5f5;
    transition: all 0.2s ease-out;
}

footer a:hover {
    color: #dcdcdc;
}

.h2a {
    font-size: 25px;
}

footer li {
    padding-top: 10px;
    list-style: none;
}

/* h2 {
    font-size: 30px;
    padding-top: 60px;
    display: flex;
}

#f h2 {
    display: inline-block;
    padding: 10px 10%;
} */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto;
    gap: 10px;
    text-align: center;

}

#footer-pricing {
    grid-column: span 1;
    padding-top: 75px;
}

#footer-about {
    grid-column: span 2;
    padding-top: 75px;
}

#footer-contact {
    grid-column: span 1;
    padding-top: 75px;
}

footer hr {
    height: 2px;
    background-color: lightgray;
    border: none;

}

#footer-about hr {
    margin-top: 7px;
    width: 25%;
    margin-left: 38%;
}

#footer-pricing hr {
    margin-top: 7px;
    width: 50%;
    margin-left: 25%;
}

#footer-contact hr {
    margin-top: 7px;
    width: 50%;
    margin-left: 25%;
}

#footer-pricing {
    padding-bottom: 10px;
}

.f-social {
    grid-column: span 12;
}

.f-social hr {
    margin-top: 90px;
    height: 0.5px;
}

.f-social img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

@media screen and (max-width: 1100px) {

    .f-social img {
        width: 50px;
        height: 50px;
        margin-top: 25px;
    }    

}