<nav>
    <div class="logo nav-pos">
        <a href="Homepage.html"><img src="../img/logo-white.png" alt=""><h3>Web-DHS</h3></a>
    </div>
    <div class="r-side">
        <a href="shop.html" class="nav-items"><img src="../img/icons8-shopping-cart-32.png" alt=""></a>
        <div class="burger right nav-items">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>    
    <ul class="navbar_links nav">
        <li>
            <a href="Homepage.html">Start</a>
        </li>
        <li>
            <a href="About.html">Om oss</a>
        </li>
        <li>
            <a href="Services.html">Tjänster</a>
        </li>
        <li>
            <a href="#footer">Kontakt</a>
        </li>
    </ul>
    
    </nav>