doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/services.css')
    title Document
  body
    .cards
      img(src='' alt='')
      div
        span.t1
        hr
        span
        span
      a.rm(href='') Läs mer
