doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/header.css')
    link(rel='stylesheet' href='../css/footer.css')
    link(rel='stylesheet' href='../css/cashout.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    script(src='../js/nav.js' type='text/javascript' defer='')
    title Web-DHS
  body
    nav-component
    .grid-wrapper
      .checkout
        #title Web-DHS Kassa
        .form
          script(language='JavaScript' src='../js/gen_validatorv31.js' type='text/javascript')
          // Start code for the form
          form(method='post' name='myemailform' action='form-to-email.php')
            p
              label(for='name') Företagsnamn: 
              br
              input.form-text(type='text' name='name' placeholder='Skriv erat Företagsnamn här')
            p
              label(for='email') E-mail Address:
              br
              input.form-text(type='text' name='email' placeholder=' Skriv eran E-mail Address här')
            p
              label(for='message') Övrig information:
              br
              textarea.form-info(name='message' placeholder='Övrig information')
            input.submit(type='submit' name='submit' value='Köp här')
          script(language='JavaScript').
            // Code for validating the form
            // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
            // for details
            var frmvalidator  = new Validator("myemailform");
            frmvalidator.addValidation("name","req","Please provide your name");
            frmvalidator.addValidation("email","req","Please provide your email");
            frmvalidator.addValidation("email","email","Please enter a valid email address");
    footer#footer.footer-grid
      #footer-filler
      #footer-pricing
        h4.h4a Priser
        hr
        ul
          li
            a(href='Services') Våra Produkter
          li
            a(href='') Betalning
          li
            a(href='') Exempel
      #footer-about
        h4.h4a Om
        hr
        ul
          li
            a(href='About#a2') Vad vi gör
          li
            a(href='About#members') Vårat Team
          li
            a(href='About#a3') Hur vi fungerar
      #footer-contact
        h4.h4a Kontakt
        hr
        ul
          li
            a(href='mailto:') Example@gmail.com
          li
            a(href='tel:') +46 12 34 56 78
          li
            a(href='https://www.instagram.com/webdhs.uf/' target='_blank') Instagram
      .f-social
        hr
        a(href='https://www.instagram.com/webdhs.uf/' target='_blank')
          img(src='../img/instagram.png' alt='instagram logo')
        a(href='mailto:noah.lagerstrom@elev.ga.ntig')
          img(src='../img/e-mail.png' alt='instagram logo')
    script(src='../js/nav.js')
    script(src='../js/burger.js')
