<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>

    <nav-component></nav-component>

    <div class="grid-wrapper">
        <div class="checkout">
            <div class="form">
                <div id="title">Web-DHS Kassa</div>
                <a id="back" href="services">Tillbaka till produkter</a>
                <script language="JavaScript" src="../js/gen_validatorv31.js" type="text/javascript"></script>
                <!-- Start code for the form-->
                <form method="post" name="myemailform" action="form-to-email.php">
                    <p>
                        <label for='name'>Företagsnamn: </label><br>
                        <input class="form-text" type="text" name="name" placeholder="Företagsnamn">
                    </p>
                    <p>
                        <label for='email'>E-mail Address:</label><br>
                        <input class="form-text" type="text" name="email" placeholder=" E-mail">
                    </p>
                    <p>
                        <label for='phone'>Telefonnummer:</label><br>
                        <input class="tel" type="tel"" name="tel" placeholder="Telefonnummer">
                    </p>
                    <p>
                        <label for='message'>Övrig information:</label> <br>
                        <textarea class="form-info" name="message" placeholder="Övrig information"></textarea>
                    </p>
                    <input class="submit" type="submit" name='submit' value="Köp här">
                </form>
                <script language="JavaScript">
                // Code for validating the form
                // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
                // for details
                var frmvalidator  = new Validator("myemailform");
                frmvalidator.addValidation("name","req","Please provide your name"); 
                frmvalidator.addValidation("email","req","Please provide your email"); 
                frmvalidator.addValidation("email","email","Please enter a valid email address"); 
                </script>
            </div>

            <div id="product">
            <h1>Produkter</h1>
            </div>

                <script>
                    var item = []
                for(var i = 0; i<=localStorage.length; i++ ) {
                    var key = localStorage.key(i)
                    var prod = localStorage.getItem(key)
                    if(prod){
                        item.push(JSON.parse(prod))
                        }
                }

                var product = document.querySelector('#product') 
                for(var j = 0; j < item.length; j++){
                    var productElement = document.createElement("div")
                    productElement.innerHTML = `
                    <div class="showcase">
                        <div class="card">
                        <img src="/img/${item[j].name}.png" alt="">
                        <span>${item[j].name}</span>
                        <span>${item[j].description}</span>
                        <span class="price">${item[j].price} kr</span>
                        </div>
                        <button onclick="rm(${item[j].id})">rm</button>
                        </div>        
                        </div>
                            `;
                        product.appendChild(productElement)
                }

                    function rm(id){
                        localStorage.removeItem(id)
                        location.reload()
                    }

                </script>

                  <div class="checkbox"> 
                <p>
                    <label class="container">Betalning
                        <input type="radio" name="radio" value="show" id="show" onclick="show2();">
                        <span class="checkmark"></span>
                    </label>
                </p>
                <div id="div1" class="hide betalning">
                    <label class="container">Swish
                        <input type="radio" name="radio" value="show" id="show" onclick="show3();">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <hr>
                <p>
                    <label class="container">Frakt
                        <input type="radio" name="radio" onclick="show1();">
                        <span class="checkmark"></span>
                    </label>
                </p>
                
                <div id="div2" class="hide frakt">
                    <hr>
                    <a href="">
                        <img src="../img/frakt-black.png" class="img-bottom" alt="">
                        <img src="../img/frakt-grey.png" class="img-top" alt="">
                    </a>
                </div>
            </div> 
        </div>
    </div>

    <footer-component></footer-component>

<script src="../js/index.js"></script>
</body>
</html>