doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/header.css')
    link(rel='stylesheet' href='../css/footer.css')
    link(rel='stylesheet' href='../css/checkout.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    script(src='../js/nav.js' type='text/javascript' defer='')
    script(src='../js/footer.js' type='text/javascript' defer='')
    link(rel='shortcut icon' href='../img/Logo.png')
    title Web-DHS
  body
    nav-component
    .grid-wrapper
      .checkout
        #title Web-DHS Kassa
        .form
          a#back(href='Homepage') Tillbaka till start
          script(language='JavaScript' src='../js/gen_validatorv31.js' type='text/javascript')
          // Start code for the form
          form(method='post' name='myemailform' )
            p
              label(for='name') Företagsnamn: 
              br
              input.form-text(type='text' name='name' placeholder='Skriv erat Företagsnamn här' id=#{Företagsnamn})
            p
              label(for='email') E-mail Address:
              br
              input.form-text(type='text' name='email' placeholder=' Skriv eran E-mail Address här' id=#{mail})
            p
              label(for='phone') Telefonnummer:
              br
              input.tel(type='tel' name='tel' placeholder=' Skriv erat Telefonnummer här' id=#{Telefonnummer})
            p
              label(for='message') Övrig information:
              br
              textarea.form-info(name='message' placeholder='Övrig information' id=#{information})
            input.submit(type='submit' name='submit' onclick=)

        div.product

        div
          p
            label.container
              | Betalning
              input#show(type='radio' name='radio' value='show' onclick='show2();')
              span.checkmark
          #div1.hide.betalning
            label.container
              | Swish
              input#show(type='radio' name='radio' value='show' onclick='show3();')
              span.checkmark

          hr
          p
            label.container
              | Frakt
              input(type='radio' name='radio' onclick='show1();')
              span.checkmark
          #div2.hide.frakt
            hr
            a(href='')
              img.img-bottom(src='../img/frakt-black.png' alt='')
              img.img-top(src='../img/frakt-grey.png' alt='')
    footer-component
    script(src='../js/index.js')
    script(src='js/mail.js')