<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>
    
    <nav-component></nav-component>

    <div class="grid-wrapper">
        <div class="login">
            <h1>Logga in</h1>
            <form action="/routes/login.js">
                <p>    
                    <label for="username"><img src="../img/user.png" alt=""></label>
                    <input type="text" name="username" placeholder="Skriv in ditt användarnamn här" id="username" required>
                </p>
                
                <p>    
                    <label for="password"><img src="../img/lock.png" id="" alt=""></label>
                    <input type="password" name="password" placeholder="Skriv in ditt lösenord här" id="password" required>
                </p>
                <button type="submit">Logga in</button>
            </form>
            <p><a href="register">Har du inte registrerat dig? Klicka här</a></p>
        </div>
    </div>

</body>
</html>