<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>
    
    <nav-component></nav-component>

    <div class="grid-wrapper">
        <div class="image">
            <img src="../img/computer.png" alt="">
        </div>
        <div class="text">
            <h1>Produkt</h1>
            <a id="back" href="services">Tillbaka</a>
            <hr>
            <span class="price">100kr</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ad quam! Magni impedit temporibus sed ipsum! Unde cum modi dignissimos cupiditate, illo amet iste nemo, magni perspiciatis voluptas eum quaerat.</p>
            <p class="p-bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum. Tempora quis iste adipisci modi sit laudantium reprehenderit ex quo, temporibus quam ratione mollitia impedit sunt amet suscipit quibusdam provident?</p>
                <button class="buy"onclick='addtocart(<%-cartItemsString%>)'></button>
        </div>
    </div>

<div>
    <script language="JavaScript" src="scripts/gen_validatorv31.js" type="text/javascript"></script>
    <!-- Start code for the form-->
    <form method="post" name="myemailform" action="form-to-email.php">
        <p>
            <label for='name'>Enter Name: </label><br>
            <input type="text" name="name">
        </p>
        <p>
            <label for='email'>Enter Email Address:</label><br>
            <input type="text" name="email">
        </p>
        <p>
            <label for='message'>Enter Message:</label> <br>
            <textarea name="message"></textarea>
        </p>
        <input type="submit" name='submit' value="submit">
    </form>
    <script language="JavaScript">
    // Code for validating the form
    // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
    // for details
    var frmvalidator  = new Validator("myemailform");
    frmvalidator.addValidation("name","req","Please provide your name"); 
    frmvalidator.addValidation("email","req","Please provide your email"); 
    frmvalidator.addValidation("email","email","Please enter a valid email address"); 
    </script>
</div>
    
    
    
    <script src="../js/nav.js"></script>
    <script src="../js/burger.js"></script>
    <script src="../js/Köp.js"></script>

    <footer-component></footer-component>

</body>
</html>