<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>
    
    <nav-component></nav-component>

    <div class="grid-wrapper">
        <div class="image">
            <img src="../img/computer.png" alt="">
        </div>
        <div class="text">
            <h1>Produkt</h1>
            <a id="back" href="services">Tillbaka</a>
            <hr>
            <span class="price">100kr</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ad quam! Magni impedit temporibus sed ipsum! Unde cum modi dignissimos cupiditate, illo amet iste nemo, magni perspiciatis voluptas eum quaerat.</p>
            <p class="p-bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum. Tempora quis iste adipisci modi sit laudantium reprehenderit ex quo, temporibus quam ratione mollitia impedit sunt amet suscipit quibusdam provident?</p>
                <a class="buy" onclick="openForum()">Köp här</a>
        </div>
    </div>    
    
    <footer-component></footer-component>
    
</body>
</html>