doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/header.css')
    link(rel='stylesheet' href='../css/footer.css')
    link(rel='stylesheet' href='../css/productpage.css')
    link(rel='shortcut icon' href='../img/Logo.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    script(src='../js/nav.js' type='text/javascript' defer='')
    title Web-DHS
  body
    nav-component
    .grid-wrapper
      .image
        img(src='../img/computer.png' alt='')
      .text
        h1 Produkt
        a#back(href='Services') Tillbaka
        hr
        span.price 100kr
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ad quam! Magni impedit temporibus sed ipsum! Unde cum modi dignissimos cupiditate, illo amet iste nemo, magni perspiciatis voluptas eum quaerat.
        p.p-bottom
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum. Tempora quis iste adipisci modi sit laudantium reprehenderit ex quo, temporibus quam ratione mollitia impedit sunt amet suscipit quibusdam provident?
        a#buy(href='') Köp här
    script(src='../js/nav.js')
    script(src='../js/burger.js')
