<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Document</title>
</head>
<body>

    <nav-component></nav-component>

    <div id="wrapper">

    <div id="title">
        <h1>Username: <%=data[0].user_name%></h1>
        <%console.log(data)%>
    </div>
        <div id="profile-form">
            <form action="/profile/update-profile" method="POST">
                <input type="text" name="user_name" placeholder="Ditt användarnamn" value="<%=data[0].user_name%>">
                <input type="email" name="email" placeholder="Din Mail" value="<%=data[0].email%>">
                <input type="password" name="password_old" placeholder="Ditt gamla lösenord">
                <input type="password" name="password_new" placeholder="Ditt nya lösenord">
                <input type="password" name="password_confirm" placeholder="Bekräfta ditt nya lösenord">
                <button type="submit">Uppdatera profil</button>
            </form>
            <button onclick="location.reload()">Reload</button>
        </div>
    </div>
</body>
</html>
