<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>
    
    <nav-component></nav-component>

    <div class="grid-wrapper">
        <div class="image">
            <img src="../img/baspaket.jpeg" alt="">
        </div>
        <div class="text">
            <h1>Baspaket</h1>
            <a id="back" href="Services">Tillbaka</a>
            <hr>
            <span class="price">299kr</span>
            <p class="breadtext">Med vårt baspaket får ni en snygg och prisvärd hemsida med bra funktioner. Här ingår bland annat en webbshop med Swish som betalmetod. Hemsidorna kommer likna våran och ha samma uppbyggnad. Vi kan snabbt och enkelt lägga in alla texter, bilder och färger som önskas för en snabb och smidig process. Tillsammans med hemsidan får man med ett domännamn (webbadress). I detta paket innehåller även en gratis månad av Web Hosting och support från våran kundtjänst.</p>
            <p class="p-bottom"></p>
            <a class="buy" href="404">Köp här</a>
        </div>
    </div>
    
    <footer-component></footer-component>

</body>
</html>