* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* color: #9C9C9C; */
}

nav {
    background-color: #252525;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150px,auto);
    margin: 0 auto;
}

p {
    font-size: 1.5em;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
}

#a1 {
    grid-column: span 12;
    grid-row: span 6;
    text-align: center;
    margin-top: 100px;
}

#a1 h1 {
    font-size: 70px;
    font-weight: 900;
    color: #3A3A3A;
}

#a-logo {
    margin-top: 50px;
}

#a2 {
    grid-column: span 12;
    grid-row: span 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-text {
    float: left;
    padding-left: 5%;
    padding-right: 2%;
}


.left-text h1 {
    font-size: 50px;
    font-weight: 500;
    color: #3A3A3A;
}

.right-image {
    padding-right: 5%;
}

.right-image img {
    max-width: 100%;
    float: right;
}

.right-text {
    padding-left: 2%;
    padding-right: 5%;
    float: left;
    width: 200%;
}

.right-text h1 {
    font-size: 50px;
    font-weight: 500;
    color: #3A3A3A;
}

.left-image img {
    max-width: 100%;
    padding-left: 5%;
    float: left;
}

#a3 {
    grid-column: span 12;
    grid-row: span 6;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#m-h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

#members {
    grid-column: span 12;
    grid-row: span 24;
    padding-top: 200px;
    width: 90%;
    margin: 0 auto;
}

#members img {
    width: 250px;
    height: 250px;
    border: solid black 2px;
    border-radius: 300px; 
    object-fit: cover;
}

#members h2 {
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

#members h3 {
    color: #3A3A3A;
    margin-top: 10px;
}

#members a {
    color: #3A3A3A;
    text-decoration: none;
}

#members div {
    margin-top: 150px;
}

.tex-left {
    text-align: left;
}

.text-left h2 {
    float: left;
}

.text-center {
    text-align: center;
}

.text-right {
    margin-top: 10px;
    text-align: right;
}

.text-right h2 {
    float: right;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@media screen and (max-width:1100px) {
    
    #a1{
        grid-column: span 12;
        grid-row: span 4;
        
    }

    h2 {
        max-width: 75%;
        margin: 0 auto;
    }

    #a2, #a3 {
        margin-top: 20%;
        max-width: 100%;
        display: 0;
        display: grid;
    }

    .right-image, .left-image{
        grid-column: span 4;
        grid-row: span 4;
        float: none;
        max-width: 100%;
        padding: 5%;
    }

    .left-text, .right-text{
        float: none;
        max-width: 100%;
        grid-row: span 2;
        padding: 0%;
        text-align: center;
        font-size: 13px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(135px,auto);
        margin: 0 auto;
    }

    #members h2 {
        margin: 0 auto;
        max-width: 90%;
    }

    #members {
        padding-top: 10%;
        grid-column: span 12;
        grid-row: span 24;
        margin-bottom: 15%;
    }    

    p {
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.5em;
    }

}

@media screen and (max-width:750px) {
    
    #members {
        grid-column: span 12;
        grid-row: span 26;
    }

}

@media screen and (max-width:550px) {
    
    #a-logo {
        width: 75%;
    }

    #members {
        grid-column: span 12;
        grid-row: span 28;
    }

}

@media screen and (max-width:450px) {
    
    #members {
        grid-column: span 12;
        grid-row: span 30;
    }
}