* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

nav {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    transition: 400ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* search */

.search{
justify-content: center;
align-items: center;
margin-left: 10%;
margin-right: 10%;
display: flex;
align-items: center;
flex-direction: column;
font-size: 15px;

}

input {
border: 0;
background-color: white;
padding: 5%;
border-radius: 10px;
margin-bottom: 3%;
}

input:visited{
background-color: aqua;
}

.search button{
    border: none;
    margin-top: 2%;
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 5%;
    transition: all 0.3s ease-in-out;
    cursor:pointer;

}

.search button:hover{
    cursor: pointer;
    background-color: #38b6ff;
}

#result{color: white;
font: bold;
}

#myInput {hej;}

.highlight {
    background-color: yellow;
}
  
.navbar_links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
    padding-top: 30px;
}

.navbar_links li {
    opacity: 0;
    list-style-type: none;
}

.active_nav {
    background-color: #252525;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}

.active_nav .nav_links a:hover {
    color: black;
}

.indication {
    font-size: 15px;
    background-color: red;
}

.r-side {
    display: flex;
    align-items: center;
    padding-right: 4%;
}

.r-side a {
    padding-right: 20%;
}

.burger {
    display: block;
}

.burger:hover {
    cursor: pointer;
}

.nav-active {
    transform: translateX(0%);
}

nav a:hover {
    color: #f5f5f5;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo a {
    transition: all 0.7s ease-out;
    color: #ffffff;
    display: inline-flex;
    padding-top: 10;
}

.logo h3 {
    font-size: 20px;
    padding-top: 13px;
}

.logo a:hover {
    color: whitesmoke;
}

nav li, nav a {
    text-decoration: none;
    font-size: 20px;
}

.nav-items {
    transition: all ease-in-out 0.3s;
}

.nav-items:hover {
    transform: scale(1.05);
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

.navbar_links a {
    text-align: center;
    padding: 25px 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    /* background-color: #6cc40f;
    color: black; */

    color: #f5f5f5;
}

.nav a::before {
    content: '';
    display: block;
    height: 3px;
    margin-bottom: -5px;
    background-color: #f5f5f5;
    
    position: absolute;
    bottom: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.nav a:hover::before {
    width: 100%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ;
}

@media screen and (max-width:1150px) {

    body {
        overflow-x: hidden;
    }

    nav {
        padding: 30px;
    }
    
    .navbar_links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #252525;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 10px;
    }

    .navbar_links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    nav {
        padding: 10px;
    }

    .r-side div {
        padding-right: 10px;
    }

    .r-side a {
        padding-right: 10%;
    }    

    .logo h3 {
        color: transparent;
    }
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}