* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}



.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slides{
    top: 0;
    width: 500%;
    height: 800px;
    display: flex;
}

.slides a {
    text-decoration: none;
    font-size: 20px;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide-btn {
    text-align: center;
    position: relative;
    top: -50%;
}

.slide-title {
    text-align: center;
    position: relative;
    top: -80%;
}

.slide-title h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.slide-title h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 100;
    font-style: italic;
}

.slide-btn a {
    padding: 15px 30px;
    color: #ffffff;
    border: solid #ffffff 2px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.slide-btn button:hover, .slide-btn a:hover {
    cursor: pointer;
    color: #ffffff;
    border: solid #ffffff 4px;
}

.slide img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 760px;
}
  
.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}

.down-btn {
    text-align: right;
    padding-right: 1%;
    position: relative;
    top: -10%;
}

.down-btn a {
    color: #ffffff;
}

.down-btn img {
    width: 30px;
    height: 30px;
}

.first-downbtn {
    text-align: right;
    padding-right: 1%;
    position: relative;
    top: -31%;
}

.first-downbtn a {
    color: #ffffff;
}

.first-downbtn img {
    width: 30px;
    height: 30px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150px,auto);
    margin: 0 auto;
}

#s1 {
    grid-column: span 13;
    grid-row: span 1;
    text-align: center;
    padding-top: 100px;
    font-size: 3em;
    font-family: sans-serif;
}

#s1 h1 {
    padding-top: 0px;
    font-size: 3em;
    padding-bottom: 5px;
}

#s1 h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    color: #3A3A3A;
    font-weight: 100;
    font-style: italic;

}

.hrline {
    margin-top: 150px;
    height: 1px;
}

#s2 {
    grid-column: span 12;
    grid-row: span 10;
    width: 90%;
    margin: 0 auto;
    /* background-color: #F5F5F5; */
}

#s2 h1 {
    font-size: 40px;
    margin: 0 auto;
    padding: 10px 2% 0px 2%;
}

#s2 p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    padding: 0px 2%
    /* margin: 0 auto; */
}

#s2-grid {
    top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(350px,auto);
    gap: 50px 0px;
    

}

.cards {
    top: 100px;
    color: #ffffff;
    background-color: #002d68;
    box-shadow: 0 4px 6px 1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgba(0, 0, 0, 0.3);
}

.text-center {
    text-align: center;
    width: 50%;
    grid-column: span 2;
    grid-row: span 1;
}

.text-left {
    width: 50%;
    grid-column: span 2;
    grid-row: span 1;
    text-align: left;
    float: left;
}

.text-right {
    text-align: right;
    grid-column: span 1;
    grid-column-start: 2;
    grid-row: span 1;
    float: right;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@media screen and (max-width:1100px) {
    
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(0px,auto);
    }

    #s2-grid {
        top: 0%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(350px,auto);
        row-gap: 50px;
        margin-bottom: 200px;
        
    }
    

    #s1{max-height: 0%;}

    #s1 h1 {
        font-size: 90px;
    }


    #s2 h1 {
        font-size: 40px;
    }

    h2 {
        max-width: 75%;
        margin: 0 auto;
    }

    #s2 {
        grid-row: span 15;
    }

    

    .text-left {
        width: 100%;
        grid-column: span 3;
        grid-row: span 1;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        float:left;
        padding: 10px;
    }

    .text-right {
        max-width: 100%;
        grid-column: span 3;
        grid-row: span 1;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        float: right;
        padding: 10px;
    }

    
    
}

@media screen and (max-width: 550px) {
    .grid-wrapper { 
        grid-template-columns: repeat(2, 1fr);
    }

    #s1 {
        grid-column: span 3;
        grid-row: span 4;
        font-size: 2em;
    }

    #s1 h1 {
        font-size: 2em;
    }

    #banner h1 {
        font-size: 70px;
    }

    #s2 h1 {
        font-size: 30px;
    }


}

