* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/register-background.png);
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;    
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(150px,auto);
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
}

.register {
    grid-column: span 1;
    grid-column-start: 2;
    grid-row: span 4;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.register h1 {
    background-color: #004aad;
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-size: 36px;
    font-weight: 900;
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.register form {
    display: inline-block;
    justify-content: center;
    padding-top: 50px;
}

.register form label {
    display: inline-flex;
    flex-direction: row;
    background-color: #004aad;
    color: #ffffff;
    padding: 10px 15px;
    padding-bottom: -10px;
}

.login form img{
    width: 30px;
    height: 30px;
}

p {
    display: flex;
    margin-top: 20px;
}


.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    /* margin-bottom: 20px; */
    padding: 0 15px;
}

.register form input[type="password"]:focus, .register form input[type="text"]:focus, .register form input[type="email"]:focus {
    outline: none;
    border: 2px solid #38b6ff;

}

.register form button {
    padding: 15px 35px;
    margin-top: 20px;
    background-color: #004aad;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #004ad0;
    transition: background-color 0.2s;
}