* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #252525;
}

a {
    text-decoration: none;
}

#s1 {
    grid-column: span 12;
    grid-row: span 1;
}

.slider{
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slides{
    top: 0;
    width: 500%;
    height: 700px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide-btn {
    text-align: center;
    position: relative;
    top: -50%;
}

.slide-btn button {
    padding: 15px 30px;
    color: #ffffff;
    border: solid #ffffff 2px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.slide-btn button:hover {
    cursor: pointer;
    color: #ffffff;
    border: solid #ffffff 4px;
}

.services {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.hrline {
    margin-top: 200px;
}

.banner {
    position: relative;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 900px;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.banner-text h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: white;
}

.banner-text h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 100;
    font-style: italic;
}


.heading{
    background-color: #E9ECEF;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    font-family: 'Quicksand', sans-serif;
}

.subheading{
    background-color: #E9ECEF;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.406);
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 75px;
}

.slide img{
    width: 100%;
    height: 700px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 660px;
}
  
.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}

.down-btn {
    text-align: right;
    padding-right: 1%;
    position: relative;
    top: -16%;
}

.down-btn a {
    color: #ffffff;
}

.down-btn img {
    width: 30px;
    height: 30px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150px,auto);
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 2%;
}

.cards {
    grid-column: span 4;
    grid-row: span 2;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: ease-in-out 0.2s;
    font-size: 20px;
}

.cards hr {
    height: 1px;
    background-color: black;
    border: none;
}

.cards:hover {
    transform: scale(1.10);
}

.cards img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.cards div {
    margin: 1rem;
}

.cards span {
    display: block;
}

.card-info {
    color: #3A3A3A;
}

.t1 {
    font-weight: 700;
    font-size: 30px;
}

#s2 {
    grid-column: span 12;
    grid-row: span 1;
}

.rm {
    border: none;
    background-color: white;
    /* border-radius: 10px; */
    background-color: #004aad;
    color: white;
    /* size of button */
    padding: 10px 35px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}


.add{
    display: inline-flex;
    border: none;
    margin-top: 20px;
    background-color: white;
    background-color: #004aad;
    color: white;
    text-align: center;
    /* size of button */
    padding: 10px 25px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.add img{
    width: 28px;
    height: 28px;
}

.add p{
    padding-top: 5px;
}

.add img{
    width: 28px;
    height: 28px;
}

.add p{
    padding-top: 5px;
}

.rm:hover {
    cursor: pointer;
    background-color: #38b6ff;
}

.add:hover{
    cursor: pointer;
    background-color: #38b6ff;
}
@media screen and (max-width:1100px) {
   
    html{overflow-x: hidden;}

    hr.hrline{margin-bottom: 50px;}

    .grid-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    .cards {
        grid-column: span 6;
        max-width:100%;
    }

    .heading{font-size: 40px;
        padding-bottom: 25px;}

    .subheading{font-size: 22px;}
    
}


