footer {
    /* background-color: #28282B; */
    background-color: #252525;
    height: 440px;
    font-family: 'Montserrat';
    z-index: -1;
}

footer a {
    color: #f5f5f5;
    transition: all 0.2s ease-out;
    font-size: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #dcdcdc;
}

.h4a {
    font-size: 25px;
    color: #f5f5f5;
}


footer li {
    padding-top: 10px;
    list-style: none;
    transition: all ease-in 0.2s;
}

footer li:hover {
    transform: scale(1.05);
}

/* h2 {
    font-size: 30px;
    padding-top: 60px;
    display: flex;
}

#f h2 {
    display: inline-block;
    padding: 10px 10%;
} */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto;
    text-align: center;

}

#footer-pricing {
    grid-column: span 1;
    padding-top: 75px;
}

#footer-about {
    grid-column: span 1;
    padding-top: 75px;
}

#footer-contact {
    grid-column: span 1;
    padding-top: 75px;
}

footer hr {
    height: 2px;
    background-color: lightgray;
    border: none;

}

#footer-about hr {
    margin-top: 7px;
    width: 25%;
    margin-left: 38%;
}

#footer-pricing hr {
    margin-top: 7px;
    width: 50%;
    margin-left: 25%;
}

#footer-contact hr {
    margin-top: 7px;
    width: 50%;
    margin-left: 25%;
}

#footer-pricing {
    padding-bottom: 10px;
}

.f-social {
    grid-column: span 12;
}

.f-social hr {
    margin-top: 90px;
    height: 0.5px;
}

.f-social img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    transition: all 0.2s ease-out;
}

.f-social img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1100px) {

    .f-social img {
        width: 50px;
        height: 50px;
        margin-top: 25px;
    }    

}

@media screen and (max-width: 700px) {
    
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 0 auto;
        text-align: center;
    
    }    

    .h4a {
        font-size: 20px;

    }

    footer h2 {
        font-size: 25px;
    }

    footer a {
        font-size: 15px;
    }

}

@media screen and (max-width:550px) {

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 0 auto;
        text-align: center;
    
    }    

    footer a {
        font-size: 12px;
    }

}

@media screen and (max-width:450px) {

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 0 auto;
        text-align: center;
    
    }    

    footer a {
        font-size: 10px;
    }

}

@media screen and (max-width:350px) {
    
    .f-social hr {
        margin-top: 70px;
        height: 0.5px;
    }    

    .f-social img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }    

}