* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/login-background.png);
    background-size: 100%;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;    
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    width: 75%;
    margin-top: 100px;
}

.login {
    grid-column: span 1;
    grid-column-start: 2;
    grid-row: span 5;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.login h1 {
    background-color: #004aad;
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-size: 36px;
    font-weight: 900;
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.login form {
    display: inline-block;
    justify-content: center;
    padding-top: 50px;
}

.login form label {
    display: inline-flex;
    flex-direction: row;
    background-color: #004aad;
    color: #ffffff;
    padding: 10px 15px;
    padding-bottom: -10px;
}

.login form img{
    width: 30px;
    height: 30px;
}

p {
    display: flex;
    margin-top: 20px;
}

.login a{
    padding: 20px;
    cursor: pointer;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    padding: 0 15px;
}

.login form input[type="password" ]:focus, .login form input[type="text"]:focus {
    outline: none;
    border: 2px solid #38b6ff;
}

input[type="password"]::placeholder:focus {
    font-size: 10px;
}

.login form button {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 15px 35px;
    margin-top: 20px;
    background-color: #004aad;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #004ad0;
    transition: background-color 0.2s;
}
