* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/login-background.png);
    background-size: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;    
}
