* {
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    /* color: #9C9C9C; */
}

a {
    text-decoration: none;
}

nav {
    background-color: #252525;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(150px,auto);
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}

.image {
    grid-column: span 1;
    grid-row: span 4;
  }

.image img {
    width: 100%;
    height: 100%;
}

.text {
    font-family: 'Roboto', sans-serif;
    grid-column: span 1;
    grid-row: span 4;
    width: 90%;
    margin: 0 auto;
}

.breadtext {font-family: 'Quicksand', sans-serif;}

h1 {
    font-weight: bold;
}

#back {
    color: #696969;
}

#back:hover {
    border-bottom: 2px solid #696969;
}

.text hr {
    margin-top: 20px;
    height: 2px;
    background-color: #252525;
    border: 0px;
    width: 20%;
    margin-bottom: 25px;
}

span {
    font-size: 20px;
    font-weight: 500;
}

p {
    padding-top: 30px;
    font-size: 20px;
    color: #3A3A3A;
    font-weight: 400;
}

.p-bottom {
    margin-bottom: 30px;
}

.buy {
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #004aad;
    transition: all 0.5s ease-in;
}

.buy:hover {
    cursor: pointer;
    background-color: #38b6ff;
    color: white;
}


@media screen and (max-width:1050px) {

    .image {
        grid-column: span 2;
        grid-row: span 3;
        padding-top: 40px;
        padding-bottom: 60px;
      }
        
      .text {
        grid-column: span 2;
        grid-row: span 4;
        width: 90%;
        margin: 0 auto;
    }    

}